{% extends "index.html" %}

{% block content%}
<!-- Masthead-->
<header class="masthead">
    <script src="\static\js\scripts.js"></script>
    <div class="video-wrapper">
        <video src="static\assets\img\Treatsure.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
    </div>
    <div class="container position-relative"> 
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Howdy, I'm TreatyBird!</h1>
                    <h5 class="mb-4">Feel free to ask me any questions to guide you along your Treatsurealicious journey through TreatyTown! :)</h5>
                    <!-- Signup form-->
                    <button class="btn btn-primary" id="button-submit" type="button" onclick="count()">Ask Away!</button>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/assets/img/store.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>About TreatyBird</h2>
                <p class="lead mb-0">Treatybird is your personal guide to navigating the world of Treasures. Powered by AI, this chatbot is available on Treatsure's webpage to assist you in making the right decisions and answering your questions. Whether you're craving a particular cuisine or are looking for something new, Treatybird has got you covered. With a wealth of knowledge and expertise, Treatybird is the perfect companion to help you explore the variety of Treasures on offer. Say goodbye to indecision and hello to a more delightful dining experience with Treatybird by your side!</p>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
    <video src="static\assets\img\Treatsure 2.mp4" muted loop autoplay></video>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4">TreatyBird: Wingman for your taste buds!</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}